<% include ./partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Kamper</h1>
            <p>View our hand-picked campgrounds from all around the world!</p>

            <p>
                <a class="btn btn-primary btn-lrg" href="/campgrounds"> View our campgrounds</a>

            </p>
        </div>
    </header>

    <% include ./partials/footer %>
</div>